<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<header id="header"></header>

<link href="https://cdn.jsdelivr.n/et/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<body>
    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>
        <aside>
            <p><span class="nick-name">Uno</span></p>
            <p><a class="u-url" rel="me" href="mailto:ds257873@naver.com"></a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>
    </main>
<section>
    <p>본문<br><br></p>
    <div>
        <form>
            <label for="articleComment">댓글</label>
            <textarea id = "articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
            <button type="submit">쓰기</button>
        </form>
        <ul>
            <li>
                <div>
                    <time><small>2022-01-01</small></time>
                    <strong>Uno</strong>
                </div>
            </li>
        </ul>
    </div>
    <nav>
        <a href="#">이전 글</a>
        <a href="#">다음 글</a>
    </nav>
</section>
</body>
</html>